openapi: 3.0.3
info:
  title: Didit Server API
  version: "v1"
  description: |
    Base path: /api/v1
    JSESSIONID 쿠키 기반 세션 인증 (GitHub OAuth2).
servers:
  - url: https://api.did-it.xyz/api/v1
    description: 배포 서버
security:
  - cookieAuth: []
tags:
  - name: Auth
    description: 인증
  - name: Projects
    description: 프로젝트
  - name: Invites
    description: 초대
  - name: Meetings
    description: 회의(채널)
  - name: Chats
    description: 채팅
  - name: SSE
    description: SSE(실시간 이벤트)
  - name: Issues
    description: 이슈

paths:
  /auth/login:
    get:
      tags: [Auth]
      summary: GitHub OAuth 로그인으로 리다이렉트
      security: []
      responses:
        "302":
          description: /oauth2/authorization/github 로 리다이렉트
          headers:
            Location:
              description: 리다이렉트 대상
              schema:
                type: string

  /auth/logout:
    post:
      tags: [Auth]
      summary: 로그아웃(세션 무효화)
      security: []
      responses:
        "302":
          description: / 로 리다이렉트

  /auth/me:
    get:
      tags: [Auth]
      summary: 현재 인증된 사용자 조회
      responses:
        "200":
          description: 성공
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /projects:
    get:
      tags: [Projects]
      summary: 현재 사용자의 프로젝트 목록 조회
      responses:
        "200":
          description: 성공
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ProjectResponse"
    post:
      tags: [Projects]
      summary: 프로젝트 생성 및 생성자를 ADMIN으로 등록
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AddProjectRequest"
      responses:
        "200":
          description: 성공
        "400":
          $ref: "#/components/responses/BadRequest"

  /projects/recents:
    get:
      tags: [Projects]
      summary: 최근 프로젝트 조회(최대 4개)
      responses:
        "200":
          description: 성공
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ProjectRecentResponse"

  /projects/{projectId}:
    get:
      tags: [Projects]
      summary: 프로젝트 상세 조회(최근 조회 기록 갱신 포함)
      parameters:
        - $ref: "#/components/parameters/projectId"
      responses:
        "200":
          description: 성공
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProjectResponse"

  /projects/{projectId}/participants:
    get:
      tags: [Projects]
      summary: 프로젝트 참여자 목록 조회
      parameters:
        - $ref: "#/components/parameters/projectId"
      responses:
        "200":
          description: 성공
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/UserResponse"

  /projects/invites:
    post:
      tags: [Invites]
      summary: 프로젝트 초대 코드 생성(관리자만)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AddProjectInviteRequest"
      responses:
        "200":
          description: 성공
          content:
            application/json:
              schema:
                type: string
                format: uuid
        "400":
          $ref: "#/components/responses/BadRequest"

  /projects/invites/{inviteCode}:
    get:
      tags: [Invites]
      summary: 초대 코드로 프로젝트 조회
      parameters:
        - $ref: "#/components/parameters/inviteCode"
      responses:
        "200":
          description: 성공
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProjectResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
    post:
      tags: [Invites]
      summary: 초대 코드로 프로젝트 참가
      parameters:
        - $ref: "#/components/parameters/inviteCode"
      responses:
        "200":
          description: 성공
        "400":
          $ref: "#/components/responses/BadRequest"

  /projects/{projectId}/add-channel:
    post:
      tags: [Meetings]
      summary: 프로젝트 내 회의(채널) 생성
      parameters:
        - $ref: "#/components/parameters/projectId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateMeetingRequest"
      responses:
        "200":
          description: 성공
          content:
            application/json:
              schema:
                type: integer
                format: int64

  /projects/{projectId}/book-channel:
    post:
      tags: [Meetings]
      summary: 프로젝트 내 회의(채널) 예약
      parameters:
        - $ref: "#/components/parameters/projectId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BookMeetingRequest"
      responses:
        "200":
          description: 성공
          content:
            application/json:
              schema:
                type: integer
                format: int64
        "400":
          $ref: "#/components/responses/BadRequest"

  /projects/{projectId}/channels:
    get:
      tags: [Meetings]
      summary: 프로젝트 내 회의(채널) 목록 조회
      parameters:
        - $ref: "#/components/parameters/projectId"
        - $ref: "#/components/parameters/meetingStatus"
        - $ref: "#/components/parameters/cursor"
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/size"
        - $ref: "#/components/parameters/sort"
      responses:
        "200":
          description: 성공
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/MeetingResponse"

  /projects/{projectId}/channels/date:
    get:
      tags: [Meetings]
      summary: 프로젝트 내 회의(채널) 목록 조회(시간 범위 필터)
      parameters:
        - $ref: "#/components/parameters/projectId"
        - $ref: "#/components/parameters/startDateTime"
        - $ref: "#/components/parameters/endDateTime"
      responses:
        "200":
          description: 성공
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/MeetingResponse"

  /channels/{channelId}:
    get:
      tags: [Meetings]
      summary: 회의(채널) 상세 조회
      parameters:
        - $ref: "#/components/parameters/channelId"
      responses:
        "200":
          description: 성공
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MeetingResponse"
    patch:
      tags: [Meetings]
      summary: 회의 제목 및/또는 시간 범위 수정
      parameters:
        - $ref: "#/components/parameters/channelId"
        - name: title
          in: query
          required: false
          schema:
            type: string
            maxLength: 50
        - name: start
          in: query
          required: false
          schema:
            type: string
            format: date-time
        - name: due
          in: query
          required: false
          schema:
            type: string
            format: date-time
      responses:
        "200":
          description: 성공
    delete:
      tags: [Meetings]
      summary: 회의(채널) 삭제
      parameters:
        - $ref: "#/components/parameters/channelId"
      responses:
        "200":
          description: 성공

  /channels/{channelId}/webrtc:
    post:
      tags: [Meetings]
      summary: VOICE 회의 참여(미디어 커넥션 생성)
      parameters:
        - $ref: "#/components/parameters/channelId"
      responses:
        "200":
          description: 성공
          content:
            application/json:
              schema:
                type: string
        "409":
          $ref: "#/components/responses/Conflict"
    delete:
      tags: [Meetings]
      summary: VOICE 회의 나가기(미디어 커넥션 종료)
      parameters:
        - $ref: "#/components/parameters/channelId"
      responses:
        "200":
          description: 성공
        "409":
          $ref: "#/components/responses/Conflict"

  /channels/{channelId}/webrtc/users:
    get:
      tags: [Meetings]
      summary: VOICE 회의에 접속 중인 사용자 목록 조회
      parameters:
        - $ref: "#/components/parameters/channelId"
      responses:
        "200":
          description: 성공
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/UserResponse"
        "409":
          $ref: "#/components/responses/Conflict"

  /channels/{channelId}/chats:
    post:
      tags: [Chats]
      summary: 채널에 채팅 메시지 전송
      parameters:
        - $ref: "#/components/parameters/channelId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SendMessageRequest"
      responses:
        "200":
          description: 성공
    get:
      tags: [Chats]
      summary: 채널의 채팅 메시지 목록 조회
      parameters:
        - $ref: "#/components/parameters/channelId"
        - $ref: "#/components/parameters/lastId"
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/size"
        - $ref: "#/components/parameters/sort"
      responses:
        "200":
          description: 성공
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ChatResponse"

  /channels/chats/{chatId}:
    patch:
      tags: [Chats]
      summary: 채팅 메시지 수정(작성자만)
      parameters:
        - $ref: "#/components/parameters/chatId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateChatMessage"
      responses:
        "200":
          description: 성공
    delete:
      tags: [Chats]
      summary: 채팅 메시지 삭제(작성자만)
      parameters:
        - $ref: "#/components/parameters/chatId"
      responses:
        "200":
          description: 성공

  /channels/{channelId}/stream:
    get:
      tags: [SSE]
      summary: 실시간 채팅 이벤트 구독(SSE)
      parameters:
        - $ref: "#/components/parameters/channelId"
      responses:
        "200":
          description: text/event-stream (message, chat_update, chat_delete, ping)
          content:
            text/event-stream:
              schema:
                type: string
        "403":
          $ref: "#/components/responses/Forbidden"

  /projects/{projectId}/issues/active:
    get:
      tags: [Issues]
      summary: 프로젝트의 활성(OPEN) 이슈 조회(최대 5개)
      parameters:
        - $ref: "#/components/parameters/projectId"
      responses:
        "200":
          description: 성공
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/IssueResponse"

components:
  securitySchemes:
    cookieAuth:
      type: apiKey
      in: cookie
      name: JSESSIONID

  parameters:
    projectId:
      name: projectId
      in: path
      required: true
      schema:
        type: integer
        format: int64
    channelId:
      name: channelId
      in: path
      required: true
      schema:
        type: integer
        format: int64
    chatId:
      name: chatId
      in: path
      required: true
      schema:
        type: integer
        format: int64
    inviteCode:
      name: inviteCode
      in: path
      required: true
      schema:
        type: string
        format: uuid
    meetingStatus:
      name: status
      in: query
      required: false
      schema:
        $ref: "#/components/schemas/MeetingStatus"
    cursor:
      name: cursor
      in: query
      required: false
      schema:
        type: integer
        format: int64
        description: 이전 페이지의 마지막 아이템 id (첫 페이지는 0 사용)
    lastId:
      name: lastId
      in: query
      required: false
      schema:
        type: integer
        format: int64
    page:
      name: page
      in: query
      required: false
      schema:
        type: integer
        minimum: 0
        default: 0
    size:
      name: size
      in: query
      required: false
      schema:
        type: integer
        minimum: 1
        default: 20
    sort:
      name: sort
      in: query
      required: false
      schema:
        type: string
        description: Spring 정렬 파라미터 예) "createdAt,desc"
    startDateTime:
      name: start
      in: query
      required: true
      schema:
        type: string
        format: date-time
    endDateTime:
      name: end
      in: query
      required: true
      schema:
        type: string
        format: date-time

  responses:
    BadRequest:
      description: 잘못된 요청 (body가 비어있을 수 있음)
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    Unauthorized:
      description: 인증 필요 (body가 비어있을 수 있음)
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    Forbidden:
      description: 권한 없음 (body가 비어있을 수 있음)
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    Conflict:
      description: 충돌(Conflict) (body가 비어있을 수 있음)
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"

  schemas:
    ErrorResponse:
      type: object
      description: "에러 응답 바디(직렬화 설정에 따라 필드 케이스가 달라질 수 있음)."
      properties:
        statusCode:
          type: string
        message:
          type: string
      example:
        statusCode: NOT_FOUND
        message: "..."

    MeetingMode:
      type: string
      enum: [CHAT, VOICE]
      description: 회의 모드(채팅/음성)

    MeetingStatus:
      type: string
      enum: [SCHEDULED, RUNNING, ENDED]
      description: 회의 상태(예정/진행중/종료)

    IssueStatus:
      type: string
      enum: [OPEN, CLOSED]
      description: 이슈 상태(열림/닫힘)

    IssuePriority:
      type: string
      enum: [HIGH, MEDIUM, LOW]
      description: 이슈 우선순위(높음/중간/낮음)

    MessageType:
      type: string
      enum: [TEXT, SYSTEM]
      description: 메시지 타입(일반 텍스트/시스템)

    AddProjectRequest:
      type: object
      required: [projectName, githubUrl]
      properties:
        projectName:
          type: string
          maxLength: 64
          description: 프로젝트 이름
        githubUrl:
          type: string
          format: uri
          description: GitHub 저장소 URL

    AddProjectInviteRequest:
      type: object
      required: [projectId]
      properties:
        projectId:
          type: integer
          format: int64
          description: 프로젝트 ID
        expireDate:
          type: string
          format: date-time
          nullable: true
          description: 만료 일시(없으면 null)

    CreateMeetingRequest:
      type: object
      required: [title, mode]
      properties:
        title:
          type: string
          maxLength: 50
          description: 회의 제목
        mode:
          $ref: "#/components/schemas/MeetingMode"

    BookMeetingRequest:
      type: object
      required: [title, start, end]
      properties:
        title:
          type: string
          maxLength: 50
          description: 회의 제목
        start:
          type: string
          format: date-time
          description: 시작 일시
        end:
          type: string
          format: date-time
          description: 종료 일시

    SendMessageRequest:
      type: object
      required: [content]
      properties:
        content:
          type: string
          description: 메시지 내용

    UpdateChatMessage:
      type: object
      required: [content]
      properties:
        content:
          type: string
          description: 수정할 메시지 내용

    UserResponse:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: 사용자 ID
        githubId:
          type: integer
          format: int64
          description: GitHub 사용자 ID
        githubLogin:
          type: string
          description: GitHub 로그인(아이디)
        name:
          type: string
          nullable: true
          description: 사용자 이름(없을 수 있음)
        avatarUrl:
          type: string
          format: uri
          nullable: true
          description: 아바타 URL(없을 수 있음)
        createdAt:
          type: string
          format: date-time
          description: 생성 일시
        lastLoginAt:
          type: string
          format: date-time
          description: 마지막 로그인 일시

    ProjectResponse:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: 프로젝트 ID
        name:
          type: string
          description: 프로젝트 이름
        ownerId:
          type: integer
          format: int64
          description: 소유자 사용자 ID
        repoId:
          type: integer
          format: int64
          description: GitHub 저장소 ID
        repoFullName:
          type: string
          description: 저장소 전체 이름(owner/repo)
        thumbnailUrl:
          type: string
          format: uri
          nullable: true
          description: 썸네일 URL(없을 수 있음)
        createdAt:
          type: string
          format: date-time
          description: 생성 일시
        updatedAt:
          type: string
          format: date-time
          description: 수정 일시

    MeetingResponse:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: 회의(채널) ID
        project:
          $ref: "#/components/schemas/ProjectResponse"
        createdBy:
          $ref: "#/components/schemas/UserResponse"
        sessionId:
          type: string
          description: OpenVidu 세션 ID
        title:
          type: string
          description: 회의 제목
        status:
          $ref: "#/components/schemas/MeetingStatus"
        mode:
          $ref: "#/components/schemas/MeetingMode"
        startedAt:
          type: string
          format: date-time
          description: 시작 일시
        endedAt:
          type: string
          format: date-time
          description: 종료 일시
        createdAt:
          type: string
          format: date-time
          description: 생성 일시
        updatedAt:
          type: string
          format: date-time
          description: 수정 일시

    IssueResponse:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: 이슈 ID
        project:
          $ref: "#/components/schemas/ProjectResponse"
        githubIssueId:
          type: integer
          format: int64
          description: GitHub 이슈 ID
        issueNo:
          type: integer
          description: 이슈 번호(레포 내 번호)
        title:
          type: string
          description: 이슈 제목
        body:
          type: string
          description: 이슈 본문
        status:
          $ref: "#/components/schemas/IssueStatus"
        priority:
          $ref: "#/components/schemas/IssuePriority"
        author:
          $ref: "#/components/schemas/UserResponse"
        createdAt:
          type: string
          format: date-time
          description: 생성 일시
        updatedAt:
          type: string
          format: date-time
          description: 수정 일시
        closedAt:
          type: string
          format: date-time
          nullable: true
          description: 종료(닫힘) 일시(없을 수 있음)
        assignees:
          type: array
          description: 담당자 목록
          items:
            $ref: "#/components/schemas/UserResponse"

    ProjectRecentResponse:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: 최근 프로젝트 기록 ID
        user:
          $ref: "#/components/schemas/UserResponse"
        project:
          $ref: "#/components/schemas/ProjectResponse"
        lastViewedAt:
          type: string
          format: date-time
          description: 마지막 조회 일시

    ChatResponse:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: 채팅 ID
        userId:
          type: integer
          format: int64
          description: 작성자 사용자 ID
        messageType:
          $ref: "#/components/schemas/MessageType"
        message:
          type: string
          description: 메시지 내용
        createdAt:
          type: string
          format: date-time
          description: 생성 일시
        editedAt:
          type: string
          format: date-time
          nullable: true
          description: 수정 일시(없을 수 있음)
